*{
    padding:0;
    margin:0;
    overflow-x:hidden;
}
.banner{
    background:url('./img/banner-image.jpg')  ;
    background-position: center;
    background-size:cover;
    height:500px;
    width:100%
    
}
.banner:before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    
    ackground: linear-gradient(to right, rgba(0,0,0,.5) ,rgba(0,0,0,.3) );
    height:500px
  }

  .banner-text{
    color:white;
    position: absolute;
    /* left: 0; right: 0;
    top: 0; bottom: 0; */
    display:flex;
    flex-direction:column;
    padding:7.5% 10%;
}
.banner-text>h1{
    width:76vw;
    padding-bottom :15px;
    max-width:500px;
}
.banner-text>p{
    width:80vw;
    max-width:550px;

    padding-bottom :30px;
}
.banner-text>button{
    width:30vw  ;
    height:50px;
    max-width:200px;

}

//PARTNERS SECTION
.advert{
    display:none;
}
.advert{
    width:100%;
    display:flex;
    flex-direction:column;
    padding-bottom:40px;
}
.advert>h1{
    margin:15px 0;
    padding-left:10%;

}

.partners-logos{
    display:flex;
    align-self:center;
    width:90%;
    justify-content: space-evenly;
    padding:0% 12%;
    }

    .partners-logos>img{
        width:15%;
    }

.action{
    padding:5% 10%;
    background:#024052;
    
}
.action>h1{
    margin-bottom:15px;
    
}
.action-subsection{
    display:flex;
    justify-content: space-between;
    
}
.action-subsection > div {
    display:flex;
    flex-direction:column;
    justify-content: space-between;

}
#action-image{
    width:50%;
}
.action-card{
    background:#fff;
    padding: 20px;
    border-radius: 15px;
    
}
.action-card-upper{
    width:100%;
    display:flex;
    justify-content: space-between;
}
.action-card-lower{
 padding:1% 5%;
}


/* subscribe section */

.subscribe{
    display:flex;
    padding:20px 10%;
}
.subscribe>div{
    width:50%
}
@media screen and (min-width: 600px) {
    .action-card{ width:30vw;}
}
@media screen and (max-width: 600px) {
    #action-image {
      display:none;
    }
    .action-subsection{
        display:block;
        padding:10px;
        
    }
.action-card{
    margin-bottom:10px;
}
.action-card-lower{
    padding:3px;
   }
    
  }