@import "./reuseable.scss";
.banner-section {
  padding: 15px 10%;
  background: url("./img/home-header.jpg");
  background-position: center;
  background-size: cover;
  height: 70vh;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 80;
    bottom: 0;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.3)
    );
    height: 70vh;
    padding: 15px 10%;
  }
}

.banner-text {
  padding: 50px 0;
  color: white;
  position: absolute;

  p {
      margin-top: 30px;
    width: 60%;
    margin-bottom: 20px;
    min-width: 300px;
    line-height: 1.5em;
  }
}

.partners{
    // background-color: lighten($color: $pry-color, $amount: 70%);
    background: $pry-color;


  padding: 50px 10%;
  div{
      padding: 25px 0;
      display: grid;
      width: 100%;
      grid-template-columns:auto auto auto auto auto;
      img{
          width: 80%;
      }
  }
}

.action{
    // background-color: lighten($color: $pry-color, $amount: 70%);
    background: $pry-color;
    
  padding: 50px 10%;
  padding-top: 0px;
  h1{
      margin-bottom: 30px;
  }
  div{
      display: grid;
      grid-template-columns: 3fr 4fr;


  }

}
.action-card{
    background: #fff;
    height: 80px;
    // padding: 10px;
    .action-card-upper{
        display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      text-align: center;
      


    }
    .action-card-lower{
        display: none;
    }

}
.action-subsection{
    div{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto;
    }
}
@media screen and (max-width: 480px) {
  .banner-section:before {
    top: 50px;
  }
}
