* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }
  .nav-bar {
    padding: 10px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
  }
  .nav-bar > img {
    width: 7.5%;
    height: 50px;
    justify-self: flex-start;
  }
  .top-nav {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .top-nav > a {
    text-decoration: none;
  }

  /* about banner section */
  .about-banner{
    background: url("../img/about-banner-img.jpg");
    background-position: center;
    background-size: cover;
    height: 400px;
    width: 100%;
    padding: 10px 10%;

  }
  .banner-text {
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 7.5% 0%;
  }
  .banner-text > h1 {
    width: 76vw;
    padding-bottom: 30px;
    max-width: 500px;
  }
  .banner-text > p {
    width: 80vw;
    max-width: 550px;
  
    padding-bottom: 30px;
  }
  /* highlight section */
  .highlight-section{
    padding: 10px 10%;

  }
  .highlight-section>h1{
    padding: 20px 0;

  }
  .highlights{
    display:flex;
    justify-content:space-between;
  }
  .highlights>div{
    width:15%;
    background:#f5f5f5;
    padding:24px;
  }
  .highlights>div>h1{
    line-height:56px;
  }
  /* founder section */
  .founder-section {
    padding: 50px 10%;
  display:flex;
justify-content:space-between;}

    .founder-image{
    background:url('../img/founder-image.jpg');
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 40%;
  }
  .founder-text{
    width: 50%;
    display:flex;
    flex-direction:column;
    justify-content:center;

  }
  .founder-text>h1{padding:0.3em 0 ;}
  .founder-text>p{padding:0.2em 0 ;}

  /* mission section */

  .mission-section{
    padding: 50px 10%;
    background:#f5f5f5;
  }
  .missions{
    display:flex;
    justify-content:space-between;
    padding:25px 0px;

  }
  .missions>div{
    width:25%;
    height:130px;
    background:#fff;
    padding:2%;
    display:flex;
    flex-direction:column;

  }
  .missions>div>h1{
    margin:10px 0;
  }
  .missions>div>p{
    width:95%
  }
  .contact-section{
    padding:100px 10%;
    background:#fff;
    display:flex;
    justify-content:space-between;
  }
  .contact-section>div{

    background:#f3f3f3;

     padding:15px 30px;
    /*height:130px;
    border-radius:15px; */
  }

  .contact-section>div>p{
     margin:5px 0;
    /*width:70%; */
  }
  @media screen and (max-width:600px){
    .highlights{
      height:70vh;
      flex-direction:column;
      align-items:space-between;
      width:100%;
    }
    .highlights > div{
      width:80%;
    }
    .founder-section{
      display:block;
      width:100%;

    }
    .founder-section> div{
      width:79%;

    }
    .founder-image{
      background-position: center;
      background-size: cover;
      height: 200px;
      width: 10%;
    }
    .missions{
      display:block;
      width:100%;
    }
    .missions>div{
      width:100%;
      margin:20px 0 ;
    }

    .contact-section{
      display:block;
    padding:50px 10%;

    }
    .press{
      margin-bottom:30%;
    }
    
  }